*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

.fondo{
  background-image: url(../img/banner.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50% 0%;
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-attachment: fixed;
}

.height-plomo{
  color: white;
  background: rgba(0, 0, 0, 0.32);
  width: 100vw;
  height: 100vh;
  position: relative;
}

.flex{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.flex-row{
  display: flex;
  justify-content: space-between;
}

.titulo{
  margin-bottom: 30px;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
  letter-spacing: 5px;
}
h2{
  margin-top: 10px;
}
.descripcion{
  letter-spacing: 2px;
}
.mas{
  float: right;
  margin-top: 20%;
  position: absolute;
}
.mas img{
  width: 20px;
}
.btn-danger{
  background-color: #F44336;
  border: 0;
}
.informacion{
  height: 70vh;
  background-color: #3EDBBA;
}
.img-desc{
width: 100%;
}
.iconos{
  width: 400px;
}
.imagen-contenedor{
  width: 40%;
  display: inline-block;
}
.texto-contenedor{
  padding: 40px;
  position: absolute;
  top: 0;
  bottom: 0;
  display: inline-block;
  width: 60%;
  background-color: #3a3a3a;
}
.plomo2{
  background-color: #302e2e;
}
.plomo3{
  background-color: #1c1b1b;
}
.informacion2{
  overflow: hidden;
  height: 200px;
  position: relative;
}
.right-imagen{
  position: absolute;
  right: 0;
}
.contenedor{
  width: 80%;
  text-align: left;
}
.color {
  color: #3EDBBA;
}
.margin-top-h3{
  margin-top: 1px;
}
.left-texto{
  position: relative;
  height: 100%;
}
.contenedor-cuadros{
  padding: 20px 30px 30px 20px;
}
.text-info h3{
  color: white;
}
.purple1{
  background-color: rgba(129, 122, 179, 1);
}
.purple2{
  background-color: rgba(106, 101, 153  , 1);
  padding: 70px;
}
.purple3{
  background-color: rgba(99, 92, 139, 1);
  padding: 70px;
}
.purple4{
  background-color: rgba(89, 82, 129, 1);
  padding: 70px;
}
.purple5{
  background-color: rgba(70, 69, 99, 1);
  padding: 70px;
}
.purple6{
  background-color: rgba(129, 122, 79, 1);
  padding: 70px;
}
.purple7{
  background-color: rgba(129, 122, 59, 1);
  padding: 70px;
}
.col-xs-6{
  height: 300px;
}
